*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-size: 15px;
    font-family: 'oswald', sans-serif;
    scroll-behavior: smooth;
    text-transform: capitalize;
}
:root{
    --color-principal:rgba(233, 94, 1, 0.863); 
}
nav{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
    height: 100px !important;
    padding: 5px  15px;
    background: transparent !important;
    box-shadow: none!important;
    transition: background, 0.6s ease-in-out;
}
nav ul li a{
    font-size: 1.8em;
}
nav ul li a i{
    font-size: 2em !important;
}
.sticky{
    background: rgb(233, 94, 1) !important;
    transition: background, 0.6s ease-in-out;
}
.medium{
    font-size: 2.8em !important;
}
header, main, footer {
    margin-top: 0;

}
header{
    width: 100%;
    height: 100vh;
}
.carousel{
    height: 100vh !important;
}
.carousel a{
    position: relative;
}
.carousel a img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
section{
    padding: 40px 0;
    height: 100vh;
    max-height: 100vh;
    text-align: center;
    position: relative;
}
section .container{
    padding-top: 40px;
}
.card{
    padding: 15px;
    min-height: 550px !important;
    max-height: 570px !important;
}
.precio{
    font-size: 1.6em;
    color:#000
}
.precio::before{
    content: '$';
    color:#000
}
.btn{
    margin: 0 5px;
    background: var(--color-principal) !important;
}
.titulo-carrito{
    font-size: 2.3em !important;
    color: #fff !important;
}
section h1{
    font-weight: 600;
    font-size: 4.5em;
    padding-top: 20px;
    color: var(--color-principal);
}
#img-gallery  ul{
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    flex-direction: row;
}
#img-gallery ul li{
    /* min-width: 80px;
    max-width: 150px; */
    background: var(--color-principal);
    padding: 8px 20px;
    margin: 5px;
    letter-spacing: 1px;
    cursor: pointer;
}
.galeria{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    overflow-y: scroll;
} 
.galeria .itemBox{
    position: relative;
    width: 270px;
    height: 270px;
    margin: 5px;
}
.galeria .itemBox img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
}
.galeria .itemBox:hover img{
    transition: scale, 0.5s ease-in-out;
    scale: 0.5;
}
@media only screen and (max-width: 1200px){
    section .proyectos_card .card{
        font-size: 0.9em;
        height: 13em;
    }
    section .proyectos_card .card .imagen{
        height: 150px;
    }
}
@media only screen and (max-width: 776px) {
    section .proyectos_card .card{
        font-size: 0.6em;
    }
    section .proyectos_card .card:hover{
        height: 35em;
    }
    section .proyectos_card .card .imagen{
        height: 100px;
    }
    .texto{
        background-color: transparent;
    }
    .texto h1, .texto h2 span{
        text-align: center;
        font-size: 15vw;
    }
    .menu{
        width: 100%;
    }
    .galeria .itemBox{
        width: 200px;
        height: 200px;
    }
}